
.container1 {
    width: 99vw;
    height: 100vh;
    color: var(--text);
    text-align: center;
    font-size: x-large;
    background-color: var(--bg);
}

.container1 h1 {
    margin-top: 2rem;
}

.container1 h1 span {
    background: var(--grad-text);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.seperator2 {
    width: 70%;
    height: .4%;
    margin: 1rem auto;
    border-radius: var(--brad-xs);
    background: var(--grad);
    box-shadow: var(--shadow);
}

.d_top {
    margin-top: 3rem !important;
    font-size: .94rem !important;
}

.container1 p {
    margin-top: .5rem;
    color: var(--text2);
    font-weight: 500;
    margin-bottom: 12px;
    font-size: .94rem;
}

.clg_info {
    margin: 3.59rem 1rem;
    display: flex;
    gap: .4rem;
}

.ab_box {
    border: 1px solid var(--primary);
    width: 95%;
    border-radius: var(--brad-sm);
    padding: 15px;
}

.ab_box:hover {
    box-shadow: var(--shadow);
    background-color: var(--ab-hover-bg);
}

.ab_box span {
    margin-left: -87.5%;
    font-size: small;
    color: var(--primary);
    font-weight: 500;
}

.edu_info {
    width: 100%;
    height: 40%;
    display: flex;
}

.edu_info h3 {
    margin-top: 1rem;
    color: var(--primary);
}

.info_card {
    border: 1px solid var(--primary);
    width: 21%;
    height: 100%;
    flex: 1;
    margin: 0 .5rem;
    border-radius: 5%;
}

.sepe3 {
    width: 60%;
    height: 2px;
    margin: 1rem auto;
    border-radius: var(--brad-xs);
    background: var(--grad);
    box-shadow: var(--shadow);
}

.ab_box p b {
    color: var(--secondary);
}

.one {
    transition: var(--transition);
    transform-origin: bottom left;
}

.one:hover {
    background-color: var(--bg2);
    box-shadow: var(--shadow);
    transform: scale(1.2);
}

.two,
.three {
    transition: var(--transition);
    transform-origin: bottom center;
}

.two:hover,
.three:hover {
    background-color: var(--bg2);
    box-shadow: var(--shadow);
    transform: scale(1.2);
}

.four {
    transition: var(--transition);
    transform-origin: bottom right;
}

.four:hover {
    background-color: var(--bg2);
    box-shadow: var(--shadow);
    transform: scale(1.2);
}

.cl_icon {
    margin-right: 1rem;
    color: var(--cl-icon-color);
}

.card_in_box {
    margin-left: 1rem;
    text-align: start;
}

.ca_f p {
    font-size: .90rem;
}