* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

:root {
    --grad: linear-gradient(135deg, #6366f1 0%, #a855f7 50%, #ec4899 100%);
    --bg2: #080d1e;
    --brad: 35px;
    --shadow:
        0 0 10px rgba(99, 102, 241, .5),
        0 0 20px rgba(168, 85, 247, .5),
        0 0 30px rgba(236, 72, 153, .5);
}

body {
    background: var(--bg2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 65px;
    
}


.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    font-size: large;
    font-weight: 500;
    background: rgba(5, 8, 22, .88);
    border: 1px  solid rgba(17, 11, 47, 0.933);


}
.disabled-link{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}


.gradient-text {
    background: var(--grad);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.head,
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-align: center;
    gap: .3rem;
    cursor: pointer;
}

nav h4 span {
    margin-bottom: .3rem;
}

nav ul li {
    margin: 0 25px;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
}